<div class="container">
    <div class="row mt-5">
        <div class="col-1"></div>
        <div class="col-10">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Ticket ID</th>
                    <th scope="col">Subject</th>
                    <th scope="col">Priority</th>
                    <th scope="col">Created date</th>
                    <th scope="col">Delete</th>

                  </tr>
                </thead>
                <tbody *ngFor="let t of myTicket">
                  <tr>
                    <th scope="row">{{t.ticket_id}}</th>
                    <td>{{t.subject}}</td>
                    <td>{{t.priority}}</td>
                    <td>{{t.created_at}}</td>
                    <td><button class="btn btn-danger me-md-2" (click)="deleteTicketbyAdmin(t.id)">Delete</button></td>

                  </tr>
                  
                </tbody>
              </table>
        </div>
        <div class="col-1"></div>
    </div>
</div>
