<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 mt-5">
            <h2 class="text-center text-info mt-5 mb-4">Login Form</h2>
            <form action="" [formGroup]="loginForm" (ngSubmit)="authenticate()">
                <div class="mb-3">
                    <input type="text" placeholder="Enter phone number" class="form-control" formControlName="username">
                    <div class="form-text text-danger" *ngIf="username?.touched && username?.invalid">Invalid username</div>
                </div>
                <div class="mb-3">
                    <input type="password" placeholder="Enter password" class="form-control" formControlName="password">
                    <div class="form-text text-danger" *ngIf="password?.touched && password?.invalid">Invalid password</div>
                </div>
                <div class="mb-3">
                    <button class="btn btn-info d-grid gap-2 col-3 mx-auto" type="submit" [disabled]="loginForm.invalid">Login</button>
                </div>
            </form>
        </div>
        <div class="col-4"></div>
    </div>
</div>